# Ignore virtual environment directory
venv/
env/
virtualenv/

# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore other common files
*.log
*.csv
*.sqlite3
.DS_Store